doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title=title
        meta(name="description" content="ЗАО «ФОНД «СОДЕЙСТВИЕ» независимый оценщик недвижимого имущества с 2007 года. Проведение независимой оценочной экспертизы в Дагестане.")
        meta(name="keywords" content="Независимая оценка недвижимости, оценка квартиры, оценка дома, оценка комнаты, оценка земельного участка, оценка недвижимости в Дагестане, оценка недвижимости в Махачкале, оценка в Дагестане, оценка в Махачкале, оценка квартиры в Дагестане, оценка квартиры в Махачкале")
        meta(property="og:url" content="https://xn--80aefcbinbl1accim9bq7czh.xn--p1ai/")
        meta(property="og:title" content="Проведение независимой оценочной экспертизы в Дагестане")
        meta(property="og:description" content="ЗАО «ФОНД «СОДЕЙСТВИЕ» независимый оценщик недвижимого имущества с 2007 года. Проведение независимой оценочной экспертизы в Дагестане, Калмыкии, Ставропольском крае.")
        meta(property="og:type" content="website")
        link(rel="stylesheet" href="style/index.scss")
        script(src="scripts/metrica.js")
        noscript
            div
                img(src="https://mc.yandex.ru/watch/71505646" style="position:absolute; left:-9999px;" alt="")
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-K6FRQV3LFP")
        script(src="scripts/index.js")
