.estimate-list
    .container.estimate-list__wrapper
        .estimate-list__aboutus
            h2.estimate-list__header Почему мы?
            p.estimate-list__info Наша фирма является специализированной оценочной компанией, имеющей лицензию на все виды недвижимости.
            p.estimate-list__info Наш опыт - это более 1000 ежегодных оценочных работ по определению рыночной стоимости объектов недвижимости.
            a.button.accept.estimate-list__about(href="tel:+79996024840") Cвязаться с нами
        .estimate-list__pluses
            .plus.big_plus
                img.plus__image(src="images/pluses/low-prices.png")
                p.plus__info Самые низкие цены на рынке
            .plus
                img.plus__image(src="images/pluses/question.png")
                p.plus__info Помощь в подготовке необходимых документов
            .plus
                img.plus__image(src="images/pluses/increase.png")
                p.plus__info Опыт более 14 лет
            .plus
                img.plus__image(src="images/pluses/fast-time.png")
                p.plus__info Минимальные сроки. 1-2 дня на подготовку отчета
            .plus
                img.plus__image(src="images/pluses/promo.png")
                p.plus__info Бесплатная консультация
            .plus
                img.plus__image(src="images/pluses/free-delivery.png")
                p.plus__info Бесплатный выезд на осмотр
