.estimate.greyBg
    .container.estimate__container
        .estimate__body
            h2.estimate__title Консультация и предварительная оценка
            .estimate__list
                .estimate__item
                    .estimate__item__image
                        include ../images/manager
                    p.estimate__item__info Консультация по сделке и документам
                .estimate__item
                    .estimate__item__image
                        include ../images/puzzle
                    p.estimate__item__info Знаем все детали и нюансы оценки
                .estimate__item
                    .estimate__item__image
                        include ../images/shield.html
                    p.estimate__item__info Гарантия быстрой и качественной оценки
                .estimate__item
                    .estimate__item__image
                        include ../images/faq.html
                    p.estimate__item__info Сделаем предварительную оценку и ответим на все вопросы
        include feedback