form#feedback.feedback
    p.feedback__title Форма обратной связи
    input(type="text" id="fio" class="fio feedback__input" placeholder="ФИО" required)
    input(type="email" id="email" class="email feedback__input" placeholder="Электронная почта" required)
    input(type="phone" id="phone" class="phone feedback__input" placeholder="Номер телефона" required)
    button.button.accept(type="submit") Отправить заявку