.homebanner
    .container.homebanner__container
        h1.homebanner__title Оценка недвижимости, #[br] квартир / жилых домов
        p.homebanner__info Бесплатная консультация #[br] и качественная оценка
        .homebanner__garanties
            .homebanner__garanty 100% гарантия принятия #[br] отчёта вашим банком
            .homebanner__garanties__info
                p.homebanner__info.homebanner__acred Официальная аккредитация от
                    img.homebanner__sber-logo(src="images/sber-logo.png")
                    |,
                p.homebanner__info.homebanner__acred а также других ведущих банков России
