.services
    .container
        h2.services__title Услуги
        ul.services-list
            a.services-list__item.services-list__item_flat(href="/information.html/#flat")
                p.services-list__item__title Оценка квартиры
                .services-list__item__price
                    .services-list__item__price-info от 5000 рублей
                    .button.neutral Подробнее
            a.services-list__item.services-list__item_house(href="/information.html/#house")
                p.services-list__item__title Оценка жилого дома
                .services-list__item__price
                    .services-list__item__price-info от 8000 рублей
                    .button.neutral Подробнее
            a.services-list__item.services-list__item_room(href="/information.html/#room")
                p.services-list__item__title Оценка комнаты
                .services-list__item__price
                    .services-list__item__price-info от 5000 рублей
                    .button.neutral Подробнее
            a.services-list__item.services-list__item_square(href="/information.html/#square")
                p.services-list__item__title Оценка земельного участка
                .services-list__item__price
                    .services-list__item__price-info от 6000 рублей
                    .button.neutral Подробнее

            a.services-list__item.services-list__item_egrn(href="/information.html/#egrn")
                p.services-list__item__title Выписка из ЕГРН
                .services-list__item__price
                    .services-list__item__price-info Бесплатно
                    .button.neutral Подробнее
            a.services-list__item.services-list__item_house-passport(href="/information.html/#house-passport")
                p.services-list__item__title Помощь в оформлении тех. паспорта
                .services-list__item__price
                    .services-list__item__price-info Бесплатно
                    .button.neutral Подробнее