.questions {
  padding: 50px 0;
  text-align: center;
}
.questions__title {
  margin-bottom: 50px;
}
.question {
  font-size: 20px;
  margin-bottom: 15px;
}
.question-answer {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.questions__link {
  margin: 0 auto;
}