- var title = "Оценка имущества | Цены и условия"
include includes/doctype
body
    include includes/header
    .information
        .container
            .pricelist.property
                    h1.property__title Цены и услуги
                    .pricelist__info Срок выполнения работы составляет 48 часов и рассчитывается с момента осмотра квартиры экспертом, а также предоставления полного комплекта необходимых документов для проведения оценки рыночной и ликвидационной стоимости квартиры согласно стандартам Сбербанка.
                    table.pricelist-table
                        tbody
                            tr.table__head(id="flat")
                                th Объект оценки
                                th Стоимость оценки
                            tr(id="room")
                                td Оценка квартиры
                                td от 5 000 рублей
                            tr(id="house")
                                td Оценка комнаты
                                td от 5000 рублей
                            tr(id="square")
                                td Оценка жилого дома
                                td От 8 000 рублей
                            tr
                                td Оценка земельного участка
                                td от 6000 рублей

                    table.pricelist-table
                        tbody
                            tr.table__head(id="egrn")
                                th Дополнительные услуги
                                th Стоимость оценки
                            tr(id="house-passport")
                                td Выписка из ЕГРН
                                td Бесплатно
                            tr(id="coming")
                                td Помощь в оформлении тех. паспорта
                                td Бесплатно
                            tr(id="e-docs")
                                td Выезд оценщика на объект недвижимости
                                td Бесплатно
                            tr
                                td Электронная версия оценки в любом удобном виде
                                td Бесплатно
                    .pricelist__discount
                        h2.property__title Скидки и особые предложения
                        table.pricelist-table
                            tbody
                                tr.table__head
                                    th Объект оценки
                                    th Стоимость оценки
                                tr
                                    td Оценка недвижимости от 1000 м
                                    td Скидка 20%
                                tr
                                    td Оценка недвижимости от 1000 м
                                    td Скидка 20%
            .property
                    h2.property__title Документы, порядок и условия для оценки недвижимости

                    .docs
                        h2.docs__title Документы для оценки
                        ul.docs__list
                            li.docs__item Документы технической инвентаризации (технический паспорт или поэтажный план и экспликация)
                            li.docs__item Выписка из ЕГРН или свидетельство о праве собственности
                    .docs
                        h2.docs__title Для недвижимости на первичном рынке:
                        ul.docs__list
                            li.docs__item Договор долевого участия
                            li.docs__item Акт приема-передачи квартиры
                            li.docs__item Документы технической инвентаризации (технический паспорт или поэтажный план и экспликация на квартиру)
                            li.docs__item Выписка из ЕГРН, Технический паспорт
            .property
                    h2.property__title Зачем оценивать недвижимость
                    .docs
                        ul.docs__list
                            li.docs__item Оформляете кредит под залог недвижимости
                            li.docs__item Покупаете или продаете недвижимость
                            li.docs__item Получили недвижимость по наследству
                            li.docs__item Хотите застраховать квартиру
                            li.docs__item Решаете спорные вопросы
            .property
                    h2.property__title Порядок проведения оценки
                    .docs
                        ol.docs__list
                            li.docs__item Предварительная бесплатная консультация со специалистом
                            li.docs__item Помощь в подготовке необходимых документов и проведение осмотра в назначенное Вами время
                            li.docs__item Подготовка отчёта об оценке (1-2 дня)
                            li.docs__item Хотите застраховать квартиру
                            li.docs__item Решаете спорные вопросы
                    p.valid Срок действия отчета об оценке действителен в течение 6 месяцев с даты его составления.
            .property
                h2.property__title Документы и сертификаты
                .docs
                    ol.docs__list
                        li
                            a.docs__file(href="/documents/kval.pdf" target="_blank") &#128193; Квалификационный аттестат в области оценочной деятельности
                        li
                            a.docs__file(href="/documents/sro.pdf" target="_blank") &#128193; Свидетельство о членстве в саморегулируемой организации оценщиков

    include includes/footer